# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

* Objectives:
- Libraries
- languages
- Tools

Some of popular languages that Data Scientists use are: 
- 1 R
- 2 Julia
- 3 Pyton

Some of the commonly used libraries by Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Seaborn

|Data Science Tools|
|-------------------|
|R-Studio|
|Jupiter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Pyton

In [4]:
(22*43+6)
(13-6*9)

-41

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author

Lidiya Weber